@import "partials/variables";
@import "partials/mixins";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row {
    max-width: 1130px;
    margin: 0 auto;
}


body {
    background-color: $background-color;
    color: $text-color;
    font-family: "Inter", sans-serif;
}

#login-form, #register-form, #content {
    justify-content: center;
    align-items: center;
    color: $hover-color;
}


.incorrect-username {
    margin: 0 auto;
    text-align: center;
    display: inline-block;
}

#message {
    text-align: center;
    margin-top: 1vh;
    color: $hover-color;
}

#login-register {
    margin: 0 auto;
    text-align: center;
}

#logout-button button {
    display: flex;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    margin-top: -1vh;
    @include button;
    font-family: "Inter", sans-serif;
}

.button-color-class {
    cursor: pointer;
    @include button;
    margin-inline: 0.5vh;
}

.form-h2-margin {
    margin-bottom: 1vh;
}

#login-form input, #register-form input, #saveButtonInput {
    border-radius: 0.5vh;
}

#nav {
    display: flex;
    justify-content: center;
    padding-top: 2vh;

    a {
        color: $text-color;
        text-decoration: none;
        margin-right: 7vh;

        &:hover {
            color: $hover-color;
            transition: .5s;
        }
    }

}

#right-side-bar {
    position: absolute;
    left: 80%;
    top: 25%;
    background-color: rgb(31, 31, 31);
    padding: 4vh;
    border-radius: 2vh;
    
        h1  {
            text-align: center;
            background-color: #fff346;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-bottom: 1vh;
        }

        p {
            text-align: center;
        }

        svg {
            position: relative;
            left: 43%;
            margin-bottom: 1vh;
        }
}

.settings {
    max-width: 25%;
    margin-left: 34.5%;
    background-color: #0000003d;
    border-radius: 25px;
    padding: 30px;
    margin-top: 5vh;


    .settings-container {
        text-align: center;
    }

    .remove-button {
        position: relative;
        top: -30px;
        margin-left: 2vh;
    }

    img {
        display: inline-block;
        margin: 0 auto;
    }
}


#image-preview {
    max-width: 100px;
    max-height: 100px;
    border-radius: 45px;
}

.current-name {
    margin-top: 15px;
}

.button::file-selector-button {
    @include button;
    margin-top: 3vh;
}

.save-button {
    @include button;
    margin-top: 3vh;
}

.hidden-text {
    display: none;
    margin-top: 10px;
    color: $hover-color;
}

.exams-container {
    text-align: center;
    justify-content: center;
}

.exam-background {
    background-color: #0000003d;
    border-radius: 25px;
    padding: 30px;
    margin-left: 5vh;
    margin-top: 5vh;
    max-width: 25%;
    display: inline-block;

    a {
        color: $hover-color;
    }
}